body{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 18pt;
    background-image: url(images/city.png);
}
.title {
    font-family: "Noto Serif Todhri", serif;
    font-style: normal;
    color: white;
}
#outline {
    color: white;
}
.div {
    color: white;
    background-color: rgba(0, 0, 0, 0.464);
}
a:hover {
    color: red;
  }
.link {
    color: #9afafa;
}
.linked {
    color: #ffbd59;
}
.mylist{
    list-style: url(images/pin.png);
}
#newyork {
    background-image: url('images/NY.png');
    background-repeat: no-repeat;
    background-position: right;
}