body {
    font-family: Arial, Helvetica, sans-serif;
}
.parent {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: blueviolet;
    padding: 5px;
    gap: 10px /* has column and row gap */
}
.child {
    background-color: rgb(46, 229, 236);
}